* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("imgs/fundotop.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backrgound-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #1D1E1F;
}

.header1 {
    width: 100%;
    height: 4rem;
    background-color: #141414;
    padding: 3px;
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    color: white;
    position: absolute;
    right: 30px;
    cursor: pointer;
    font-size: 22px;
}

[data-toogle] {
    height: 0;
    transition: 1s;
    margin: 0;
}

.toogleMenu {
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: #141414;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div-header1 {
    display: flex;
    width: 40%;
    height: auto;
    align-items: center;
    justify-items: center;
}

.header1 img {
    width: 50px;
    margin: 20px;
}

.header1 h3 {
    font-family: 'Silkscreen', cursiva;
    font-weight: 400;
    margin: 0px;
    color: white;
}

.section-header1 {
    justify-content: center;
    position: absolute;
    right: 50px;
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
}

.section-header1 p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 600;
    margin: 20px;
}

#toogleMenu #p1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 20px;
    color: white;
    margin-top: 10px;
    width: 130px;
    text-align: center;
    display: none;
}

#toogleMenu #p2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 20px;
    color: black;
    margin-top: 10px;
    width: 130px;
    text-align: center;
    display: none;
}

p:nth-child(1), p:nth-child(2) {
    border: 1px solid rgb(98, 227, 236);
    padding: 8px;
    border-radius: 2px;
}

p:nth-child(2) {
    background: rgb(130, 225, 231);
    color: #33343a;
}

.h2-1 {
    color: #33343a;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    font-weight: 200;
    font-size: 25px;
    text-shadow: 0 0px 8px rgb(92, 91, 91);
    animation-name: AnimaH2-1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: 1s;
}

@keyframes AnimaH2-1 {
    from{text-shadow: 0 0px 8px rgb(92, 91, 91); transition: 1s;}
    to{text-shadow: 0 0px 16px rgb(92, 91, 91);}
}

.h5-1 {
    color: #33343a;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    animation-name: AnimaH2-1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: 1s;
}

.divNFTs {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.pNFT {
    color: #33343a;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
}

.linha1 {
    width: 95%;
    height: 2px;
    background: linear-gradient(to right, #1D1E1F, rgb(132, 192, 223));
    margin: 10px;
}

.coleçãoNFT {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.coleçãoNFT > div {
    width: 200px;
    height: 300px;
    background-color: #33343a;
    display: grid;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px #33343a;
    position: relative;
}

.coleçãoNFT div .imgNFT {
    width: 150px;
    height: 160px;
    align-self: flex-start;
    justify-self: center;
    margin-top: 20px;
}

.div-infoNFT {
    width: 100%;
    height: 90px;
    position: absolute;
    background-color: white;
    bottom: 0;
}

h6 {
    /*color: #33343a;*/
    color: #4f4f53;
    font-family: 'Silkscreen', cursiva;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-top: 4px;
}

.preco-img {
    width: 20px;
}

span {
    margin: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    
}

.preco-span {
    font-size: 13px;
}

.div-infoNFT section {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    bottom: 0;
    width: 72px;
}

.div-infoNFT > a {
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #1f2020fd;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

@media screen and (max-width: 560px) {
    .header1 .section-header1 {
        display: none;
    }

    .header1 .div-header1 h3 {
        display: none;
    }

    .h2-1{
        font-size: 22px;
        font-weight: 600;
        color: #4f4f53;
    }

    .h5-1 {
        font-size: 17px;
        font-weight: 600;
        color: #4f4f53;
    }
}

@media screen and (min-width: 560px) {
    .header1 .menu {
        display: none;
    }
}
